In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')
from scipy.stats import norm, skew
from scipy import stats
import numpy as np
import seaborn as sns

sns.set()
pd.set_option('max_columns', None)
#Data loading
train_set = pd.read_csv('./data/train.csv')
test_set = pd.read_csv('./data/test.csv')

In [2]:
combined_data = pd.concat((train_set, test_set), sort=False)

X = combined_data

In [3]:
nansum = X.isnull().sum()
nansum = pd.DataFrame({'col': nansum.index, 'sum': nansum.values}).sort_values(by='sum', ascending=False)
nansum = nansum[nansum['sum'] > 0]

print(nansum)

             col   sum
72        PoolQC  2909
74   MiscFeature  2814
6          Alley  2721
73         Fence  2348
80     SalePrice  1459
57   FireplaceQu  1420
3    LotFrontage   486
60  GarageFinish   159
63    GarageQual   159
64    GarageCond   159
59   GarageYrBlt   159
58    GarageType   157
32  BsmtExposure    82
31      BsmtCond    82
30      BsmtQual    81
35  BsmtFinType2    80
33  BsmtFinType1    79
25    MasVnrType    24
26    MasVnrArea    23
2       MSZoning     4
55    Functional     2
48  BsmtHalfBath     2
47  BsmtFullBath     2
9      Utilities     2
34    BsmtFinSF1     1
36    BsmtFinSF2     1
78      SaleType     1
42    Electrical     1
61    GarageCars     1
38   TotalBsmtSF     1
62    GarageArea     1
24   Exterior2nd     1
23   Exterior1st     1
53   KitchenQual     1
37     BsmtUnfSF     1

In [180]:
# PoolQC
"""
PoolQC: Pool quality
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       NA	No Pool
"""
X[(X['PoolArea'] > 0) & (X['PoolQC'].isnull())].loc[:,'PoolQC']

960     NaN
1043    NaN
1139    NaN
Name: PoolQC, dtype: object

In [181]:
# impute PoolQC
X[(X['PoolArea'] > 0) & (X['PoolQC'].isnull())].loc[:,['PoolQC','ExterQual','ExterCond','OverallCond']]

     PoolQC ExterQual ExterCond  OverallCond
960     NaN        TA        TA            6
1043    NaN        TA        TA            5
1139    NaN        TA        TA            5

In [182]:

# PoolArea > 0PoolQC NAN = TA
X.loc[(X['PoolArea'] > 0) & (X['PoolQC'].isnull()), 'PoolQC'] = 'TA'

In [183]:
# PoolQC NAN = NA

X['PoolQC'].fillna('NA', inplace=True)

In [184]:
X[X['PoolQC'].isnull()]

#no more NAN for PoolQC
#0.10970218665126451

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

In [185]:
#MiscFeature
"""
MiscFeature: Miscellaneous feature not covered in other categories
		
       Elev	Elevator
       Gar2	2nd Garage (if not described in garage section)
       Othr	Other
       Shed	Shed (over 100 SF)
       TenC	Tennis Court
       NA	None
"""

'\nMiscFeature: Miscellaneous feature not covered in other categories\n\t\t\n       Elev\tElevator\n       Gar2\t2nd Garage (if not described in garage section)\n       Othr\tOther\n       Shed\tShed (over 100 SF)\n       TenC\tTennis Court\n       NA\tNone\n'

In [186]:
# Nominal NAN = NA
X['MiscFeature'].fillna('NA', inplace=True)
#0.10970218671874636

In [187]:
#Alley
"""
Alley: Type of alley access to property

       Grvl	Gravel
       Pave	Paved
       NA 	No alley access
"""

'\nAlley: Type of alley access to property\n\n       Grvl\tGravel\n       Pave\tPaved\n       NA \tNo alley access\n'

In [188]:
# Nominal NAN = NA
X['Alley'].fillna('NA', inplace=True)
#0.10975471530593478

In [189]:
# Nominal Fence NAN = NA
"""
Fence: Fence quality
		
       GdPrv	Good Privacy
       MnPrv	Minimum Privacy
       GdWo	Good Wood
       MnWw	Minimum Wood/Wire
       NA	No Fence
"""

X['Fence'].fillna('NA', inplace=True)
#0.10964209091953597

In [190]:
#FireplaceQu ordinal
"""
FireplaceQu: Fireplace quality

       Ex	Excellent - Exceptional Masonry Fireplace
       Gd	Good - Masonry Fireplace in main level
       TA	Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement
       Fa	Fair - Prefabricated Fireplace in basement
       Po	Poor - Ben Franklin Stove
       NA	No Fireplace
"""

X['FireplaceQu'].fillna('NA', inplace=True)
#0.10971866783142518

In [191]:
#LotFrontage
"""
LotFrontage: Linear feet of street connected to property

"""

X['LotFrontage'].describe()
X['LotFrontage'].fillna(0, inplace=True)

X['LotFrontage'].describe()

count    2919.000000
mean       57.766701
std        33.481636
min         0.000000
25%        43.000000
50%        63.000000
75%        78.000000
max       313.000000
Name: LotFrontage, dtype: float64

In [192]:
#All the Garage relate columns
"""
60  GarageFinish   159
63    GarageQual   159
64    GarageCond   159
59   GarageYrBlt   159
58    GarageType   157
61    GarageCars     1
62    GarageArea     1
"""

"""
GarageFinish: Interior finish of the garage

       Fin	Finished
       RFn	Rough Finished	
       Unf	Unfinished
       NA	No Garage
"""

'\nGarageFinish: Interior finish of the garage\n\n       Fin\tFinished\n       RFn\tRough Finished\t\n       Unf\tUnfinished\n       NA\tNo Garage\n'

In [193]:
X[(X['PoolArea'] > 0) & (X['PoolQC'].isnull())].loc[:,['PoolQC','ExterQual','ExterCond','OverallCond']]

Empty DataFrame
Columns: [PoolQC, ExterQual, ExterCond, OverallCond]
Index: []

In [194]:
X[X['GarageArea'].isnull()].loc[:,['GarageFinish','GarageQual','GarageCond','GarageYrBlt','GarageType','GarageCars']]

     GarageFinish GarageQual GarageCond  GarageYrBlt GarageType  GarageCars
1116          NaN        NaN        NaN          NaN     Detchd         NaN

In [195]:
X[X['GarageArea'].isnull()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1116,2577,70,RM,50.0,9060,Pave,NA,Reg,Lvl,AllPub,Inside,Gtl,IDOTRR,Norm,Norm,1Fam,2Story,5,6,1923,1999,Gable,CompShg,Wd Sdng,Plywood,None,0.0,TA,TA,BrkTil,Gd,TA,No,ALQ,548.0,Unf,0.0,311.0,859.0,GasA,Ex,Y,SBrkr,942,886,0,1828,0.0,0.0,2,0,3,1,Gd,6,Typ,0,NA,Detchd,NaN,NaN,NaN,NaN,NaN,NaN,Y,174,0,212,0,0,0,NA,MnPrv,NA,0,3,2007,WD,Alloca,NaN

In [196]:
X[X['GarageType'].isnull()].loc[:,['GarageFinish','GarageQual','GarageCond','GarageYrBlt','GarageType','GarageCars','GarageArea']]

#if GarageType is NaN then...no garage.
# GarageFinish  NA
#GarageQual   NA
#GarageCond   NA
#GarageYrBlt   0
#GarageType   NA
# GarageCars     0
#GarageArea     0

,GarageFinish,GarageQual,GarageCond,GarageYrBlt,GarageType,GarageCars,GarageArea
39,NaN,NaN,NaN,NaN,NaN,0.0,0.0
48,NaN,NaN,NaN,NaN,NaN,0.0,0.0
78,NaN,NaN,NaN,NaN,NaN,0.0,0.0
88,NaN,NaN,NaN,NaN,NaN,0.0,0.0
89,NaN,NaN,NaN,NaN,NaN,0.0,0.0
99,NaN,NaN,NaN,NaN,NaN,0.0,0.0
108,NaN,NaN,NaN,NaN,NaN,0.0,0.0
125,NaN,NaN,NaN,NaN,NaN,0.0,0.0
127,NaN,NaN,NaN,NaN,NaN,0.0,0.0
140,NaN,NaN,NaN,NaN,NaN,0.0,0.0
148,NaN,NaN,NaN,NaN,NaN,0.0,0.0
155,NaN,NaN,NaN,NaN,NaN,0.0,0.0
163,NaN,NaN,NaN,NaN,NaN,0.0,0.0
165,NaN,NaN,NaN,NaN,NaN,0.0,0.0
198,NaN,NaN,NaN,NaN,NaN,0.0,0.0
210,NaN,NaN,NaN,NaN,NaN,0.0,0.0
241,NaN,NaN,NaN,NaN,NaN,0.0,0.0
250,NaN,NaN,NaN,NaN,NaN,0.0,0.0
287,NaN,NaN,NaN,NaN,NaN,0.0,0.0
291,NaN,NaN,NaN,NaN,NaN,0.0,0.0
307,NaN,NaN,NaN,NaN,NaN,0.0,0.0
375,NaN,NaN,NaN,NaN,NaN,0.0,0.0
386,NaN,NaN,NaN,NaN,NaN,0.0,0.0
393,NaN,NaN,NaN,NaN,NaN,0.0,0.0
431,NaN,NaN,NaN,NaN,NaN,0.0,0.0
434,NaN,NaN,NaN,NaN,NaN,0.0,0.0
441,NaN,NaN,NaN,NaN,NaN,0.0,0.0
464,NaN,NaN,NaN,NaN,NaN,0.0,0.0
495,NaN,NaN,NaN,NaN,NaN,0.0,0.0
520,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...
938,NaN,NaN,NaN,NaN,NaN,0.0,0.0
939,NaN,NaN,NaN,NaN,NaN,0.0,0.0
962,NaN,NaN,NaN,NaN,NaN,0.0,0.0
966,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1092,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1093,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1097,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1115,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1119,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1143,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1149,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1231,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1233,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1248,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1307,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1311,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1329,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1331,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1339,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1399,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1402,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1410,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1428,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1431,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1432,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1433,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1449,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1453,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1454,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1457,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [197]:
X.loc[X['GarageType'].isnull(), ['GarageFinish','GarageQual','GarageCond','GarageYrBlt','GarageType','GarageCars','GarageArea']] \
    = ['NA','NA','NA',0,'NA',0,0]

In [198]:
#still
"""
64    GarageCond     2
59   GarageYrBlt     2
60  GarageFinish     2
63    GarageQual     2
61    GarageCars     1
62    GarageArea     1
"""

'\n64    GarageCond     2\n59   GarageYrBlt     2\n60  GarageFinish     2\n63    GarageQual     2\n61    GarageCars     1\n62    GarageArea     1\n'

In [199]:
X[X['GarageCond'].isnull()].loc[:,['GarageFinish','GarageQual','GarageCond','GarageYrBlt','GarageType','GarageCars','GarageArea','OverallCond','YearBuilt']]

,GarageFinish,GarageQual,GarageCond,GarageYrBlt,GarageType,GarageCars,GarageArea,OverallCond,YearBuilt
666,NaN,NaN,NaN,NaN,Detchd,1.0,360.0,8,1910
1116,NaN,NaN,NaN,NaN,Detchd,NaN,NaN,6,1923

In [200]:
#lets impute from overall cond

In [201]:
X[X['OverallCond']==8].loc[:,['GarageFinish','GarageQual','GarageCond','GarageYrBlt','GarageType','GarageCars','GarageArea','OverallCond']]

X[X['OverallCond']==8]['GarageFinish'].mode()[0]

'Unf'

In [202]:
X[X['OverallCond']==8]['GarageFinish'].mode()[0]

'Unf'

In [203]:
X.loc[(X['GarageCond'].isnull()) & (X['OverallCond'] == 8),
      ['GarageFinish','GarageQual','GarageCond','GarageYrBlt']]\
   = [
       X[X['OverallCond']==8]['GarageFinish'].mode()[0],
       X[X['OverallCond']==8]['GarageQual'].mode()[0],
       X[X['OverallCond']==8]['GarageCond'].mode()[0],
       1910,
   ]

X.loc[(X['GarageCond'].isnull()) & (X['OverallCond'] == 6),
      ['GarageFinish','GarageQual','GarageCond','GarageYrBlt','GarageCars','GarageArea']]\
   = [
       X[X['OverallCond']==6]['GarageFinish'].mode()[0],
       X[X['OverallCond']==6]['GarageQual'].mode()[0],
       X[X['OverallCond']==6]['GarageCond'].mode()[0],
       1923,
        X[X['OverallCond']==6]['GarageCars'].median(),
       X[X['OverallCond']==8]['GarageArea'].median()
       
   ]

In [204]:
X[X['GarageCond'].isnull()].loc[:,['GarageFinish','GarageQual','GarageCond','GarageYrBlt','GarageType','GarageCars','GarageArea','OverallCond','YearBuilt']]

Empty DataFrame
Columns: [GarageFinish, GarageQual, GarageCond, GarageYrBlt, GarageType, GarageCars, GarageArea, OverallCond, YearBuilt]
Index: []

In [ ]:
#0.10974222727531932

In [207]:
#Basement
"""
32  BsmtExposure    82
31      BsmtCond    82
30      BsmtQual    81
35  BsmtFinType2    80
33  BsmtFinType1    79
47  BsmtFullBath     2
48  BsmtHalfBath     2
38   TotalBsmtSF     1
37     BsmtUnfSF     1
36    BsmtFinSF2     1
34    BsmtFinSF1     1

"""
#most of 82's are NA
X['BsmtExposure'].fillna('NA', inplace=True)
X['BsmtCond'].fillna('NA', inplace=True)
X['BsmtQual'].fillna('NA', inplace=True)
X['BsmtFinType2'].fillna('NA', inplace=True)
X['BsmtFinType1'].fillna('NA', inplace=True)

'\n32  BsmtExposure    82\n31      BsmtCond    82\n30      BsmtQual    81\n35  BsmtFinType2    80\n33  BsmtFinType1    79\n47  BsmtFullBath     2\n48  BsmtHalfBath     2\n38   TotalBsmtSF     1\n37     BsmtUnfSF     1\n36    BsmtFinSF2     1\n34    BsmtFinSF1     1\n\n'

In [218]:
X[X['BsmtFullBath'].isnull()].loc[:,['BsmtCond','BsmtQual','BsmtHalfBath','TotalBsmtSF','BsmtUnfSF','BsmtFinSF2','BsmtFinSF1','OverallCond','YearBuilt']]

,BsmtCond,BsmtQual,BsmtHalfBath,TotalBsmtSF,BsmtUnfSF,BsmtFinSF2,BsmtFinSF1,OverallCond,YearBuilt
660,NA,NA,NaN,NaN,NaN,NaN,NaN,7,1946
728,NA,NA,NaN,0.0,0.0,0.0,0.0,7,1959

In [221]:
# for 728, BsmtHalfBath = 0.0
# for 660 
X['BsmtHalfBath'].fillna('NA', inplace=True)
# numbers are 0.0

In [222]:
#25    MasVnrType    24
#26    MasVnrArea    23

X[X['MasVnrType'].isnull()].loc[:,['MasVnrType','MasVnrArea']]

#MasVnrType = "NA" , area = 0

     MasVnrType  MasVnrArea
234         NaN         NaN
529         NaN         NaN
650         NaN         NaN
936         NaN         NaN
973         NaN         NaN
977         NaN         NaN
1243        NaN         NaN
1278        NaN         NaN
231         NaN         NaN
246         NaN         NaN
422         NaN         NaN
532         NaN         NaN
544         NaN         NaN
581         NaN         NaN
851         NaN         NaN
865         NaN         NaN
880         NaN         NaN
889         NaN         NaN
908         NaN         NaN
1132        NaN         NaN
1150        NaN       198.0
1197        NaN         NaN
1226        NaN         NaN
1402        NaN         NaN

In [ ]:
#0.10973452821358327

In [233]:
#MSZoning is related to MSSubclass
"""
MSSubClass: Identifies the type of dwelling involved in the sale.	

        20	1-STORY 1946 & NEWER ALL STYLES
        30	1-STORY 1945 & OLDER
        40	1-STORY W/FINISHED ATTIC ALL AGES
        45	1-1/2 STORY - UNFINISHED ALL AGES
        50	1-1/2 STORY FINISHED ALL AGES
        60	2-STORY 1946 & NEWER
        70	2-STORY 1945 & OLDER
        75	2-1/2 STORY ALL AGES
        80	SPLIT OR MULTI-LEVEL
        85	SPLIT FOYER
        90	DUPLEX - ALL STYLES AND AGES
       120	1-STORY PUD (Planned Unit Development) - 1946 & NEWER
       150	1-1/2 STORY PUD - ALL AGES
       160	2-STORY PUD - 1946 & NEWER
       180	PUD - MULTILEVEL - INCL SPLIT LEV/FOYER
       190	2 FAMILY CONVERSION - ALL STYLES AND AGES

MSZoning: Identifies the general zoning classification of the sale.
		
       A	Agriculture
       C	Commercial
       FV	Floating Village Residential
       I	Industrial
       RH	Residential High Density
       RL	Residential Low Density
       RP	Residential Low Density Park 
       RM	Residential Medium Density
	

"""
X[X['MSZoning'].isnull()].loc[:,['MSZoning','MSSubClass']]

    MSZoning  MSSubClass
455      NaN          30
790      NaN          70

In [228]:
X.groupby('MSSubClass')['MSZoning'].apply(lambda x : x.mode()[0])

MSSubClass
20     RL
30     RM
40     RL
45     RM
50     RL
60     RL
70     RM
75     RM
80     RL
85     RL
90     RL
120    RL
150    RL
160    RM
180    RM
190    RL
Name: MSZoning, dtype: object

In [234]:
X.loc[ (X['MSZoning'].isnull()) & (X['MSSubClass']==20) , 'MSZoning'] = 'RL'
X.loc[ (X['MSZoning'].isnull()) & (X['MSSubClass']==30) , 'MSZoning'] = 'RM'
X.loc[ (X['MSZoning'].isnull()) & (X['MSSubClass']==70) , 'MSZoning'] = 'RM'
#Todo. improve.

#0.10973452821358327

In [ ]:
#Utilities
"""
Utilities: Type of utilities available
		
       AllPub	All public Utilities (E,G,W,& S)	
       NoSewr	Electricity, Gas, and Water (Septic Tank)
       NoSeWa	Electricity and Gas Only
       ELO	Electricity only	
	
"""

#mode()[0] will do.

In [ ]:
#Functional
"""
Functional: Home functionality (Assume typical unless deductions are warranted)

       Typ	Typical Functionality
       Min1	Minor Deductions 1
       Min2	Minor Deductions 2
       Mod	Moderate Deductions
       Maj1	Major Deductions 1
       Maj2	Major Deductions 2
       Sev	Severely Damaged
       Sal	Salvage only
"""

#Typ for NAN
X['Functional'].fillna('Typ', inplace=True)

In [ ]:
#SaleType
"""
SaleType: Type of sale
		
       WD 	Warranty Deed - Conventional
       CWD	Warranty Deed - Cash
       VWD	Warranty Deed - VA Loan
       New	Home just constructed and sold
       COD	Court Officer Deed/Estate
       Con	Contract 15% Down payment regular terms
       ConLw	Contract Low Down payment and low interest
       ConLI	Contract Low Interest
       ConLD	Contract Low Down
       Oth	Other
"""
#mode()[0] will do.

In [ ]:
#Electrical
"""
Electrical: Electrical system

       SBrkr	Standard Circuit Breakers & Romex
       FuseA	Fuse Box over 60 AMP and all Romex wiring (Average)	
       FuseF	60 AMP Fuse Box and mostly Romex wiring (Fair)
       FuseP	60 AMP Fuse Box and mostly knob & tube wiring (poor)
       Mix	Mixed
"""

#mode()[0] will do.

In [ ]:
#Exterior2nd Exterior1st    mode()[0]

In [236]:
#KitchenQual

X[X['KitchenQual'].isnull()].loc[:,['KitchenQual','OverallCond']]

   KitchenQual  OverallCond
95         NaN            3

In [237]:
X.groupby('OverallCond')['KitchenQual'].apply(lambda x : x.mode()[0])

OverallCond
1    TA
2    TA
3    TA
4    TA
5    Gd
6    TA
7    TA
8    TA
9    Gd
Name: KitchenQual, dtype: object

In [ ]:
# TA for NAN
X['KitchenQual'].fillna('TA', inplace=True)
#0.10973452821358327